target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
nbactions.xml
nb-configuration.xml


# The following files are generated/updated by vaadin-maven-plugin
**/node_modules/
**/frontend/generated/
**/pnpmfile.js
**/vite.generated.ts
**/webpack.generated.js
**/.cache
**/.env
